<!DOCTYPE html>
<html lang="en">
{% extends 'flatpages/default.html' %}
{% block content %}
    
    <span class="input-group-text" ><h4>ПОВЫШЕНИЕ КВАЛИФИКАЦИИ <br>
        по выбору одной из нижеприведенных тем
            (выдача сертификата после 72 часового обучения)
    </h4></span>
    
    <span class="form-control" >
        <h5><span class="text-bg-info">
            <br>ТЕМА 1.	Стандартизация и метрологическое обеспечение измерений
        </span></h5>
        РАБОТА 1.	Представление результата измерения
        <br>РАБОТА 2.	Алгоритм оценки результата прямого измерения по двухбалльной (пять и два) шкале
        <br>РАБОТА 3.	Алгоритм оценки результата измерения по четырехбалльной шкале в случае прямого измерения
        <br>РАБОТА 4.	Анализ выборок по технологическим критериям
        <br>РАБОТА 5.	Обработка данных косвенного эксперимента в случае применения линейной регрессии
        <br>РАБОТА 6.	Алгоритм оценки результата косвенного измерения по двухбалльной (пять и два) шкале в
        <br>РАБОТА 7.	Алгоритм оценки результата измерения по четырехбалльной шкале в случае косвенного измерения
        <br>РАБОТА 8.	Анализ функции распределения наблюдений.
        <br>РАБОТА 9.	Проверка нормальности распределения наблюдений
        <br>РАБОТА 10.	Ознакомление с алгоритмами распознавания функций распределения коши
        <br>РАБОТА 11.	Ознакомление с другими функциями распределений
        <br>РАБОТА 12.	Разложение оптических спетров на компоненты
        <br>РАБОТА 13.	Моделирование равновесных и кинетических процессов в гомогенных и гетерогенных системах
        <br>РАБОТА 14.	Расчет констант равновесных и кинетических процессов в гомогенных и гетерогенных системах
        <br>РАБОТА 15.	Оптимизация параметров и граничных условий при разработке методики измерения
        <br>РАБОТА 16.	Поверка результатов измерений на достоверность
        <br>РАБОТА 17.	Дискриминация моделей
        <br>РАБОТА 18.	Порядок применения способов расчета при решении многомерных задач
        <br>РАБОТА 19.	Основы метрологического обеспечения задач по обработке результатов измерения
        <br>РАБОТА 20.	Нормализация измерительного сигнала
        <br>РАБОТА 21.	Способы применения стандартных образцов
        <br>РАБОТА 22.	Линейный дисперсионный анализ
        <br>РАБОТА 23.	Нелинейный дисперсионный анализ
        <br><br>
        <h5><span class="text-bg-info">
            ТЕМА 2. Хранение измерений в базе данных и проверка их достоверности
        </span></h5>
        РАБОТА 1.	База данных научного и технологического эксперимента
        <br>РАБОТА 2.	Использование справочных данных
        <br>РАБОТА 3.	Представление данных для включения в базу данных
        <br>РАБОТА 4.	Юридические вопросы ппередачи информации и их использования
        <br>РАБОТА 5.	Поверка информации на достоверность
        <br><br>
        <h5><span class="text-bg-info">
            ТЕМА 3. Создание программ для обработки данных в ручном и автоматическом режимах
        </span></h5>
        РАБОТА 1.	Моделирование равновесных и кинетических процессов в гомогенных и гетерогенных системах
        <br>РАБОТА 2.	Особенности применения методов симплекс, монте-карло, безинерционного шарика.
        <br>РАБОТА 3.	Визуализация пространств решений
        <br>РАБОТА 4.	Оптимизация расчетов в ручном и автоматическом режиме
        <br>РАБОТА 5.	Особенности перевода программ с одного языка на другой

    </span>
{% endblock content %}
</html>